<template>
  <div class="button">
    <button @click="callFunction"> {{title}} </button>
  </div>
</template>

<script>
export default {
  name: 'vButton',
  props: {
    title: {
      type: String,
      default: '',
      required: true
    },
    callFunction: {
      type: Function,
      default: () => {},
      required: true
    }
  },
  methods: {
    callParent() {
      this.$emit('handleClick', { name: 'Osman' })
    }
  }
}
</script>
