<template>
  <div class="form-control">
    <input
      @input="handleChange"
      :placeholder="placeholder"
      :name="name"
      :value="value"
      :type="type"
    />
  </div>
</template>

<script>
export default {
  name: 'SimpleInput',
  props: {
    placeholder: String,
    name: String,
    value: [String, Number],
    type: String
  },
  methods: {
    handleChange({ target: { value } }) {
      this.$emit('handleChange', {
        key: this.name,
        value
      })
    }
  }
}
</script>