<template>
  <div>
    <nav>
      <ul>
        <li class="link">
          <router-link to="/">Home</router-link>
        </li>
        <li class="link">
          <router-link to="/form/"> Form </router-link>
        </li>
      </ul>
    </nav>
    <router-view></router-view>
  </div>
</template>

<style>
  .link {
    color: blue;
    cursor: pointer;
    transition: all .5s;
  }

  .link:hover {
    color: #d23232;
  }

  .active {
    color: darkgray;
  }
</style>