<template>
  <div>
    <h2>Our Form</h2>
      <component
        v-for="({ name, placeholder, type, component }, key) in fields"
        :is="component"
        :key="key"
        :name="name"
        :placeholder="placeholder"
        :type="type"
        @handleChange="onChange"
      />
      {{form}}
  </div>
</template>

<script>
import Input from './components/Input.vue'
import TextArea from './components/TextArea.vue'
import fields from './utils/form.mock'

export default {
  name: 'Form',
  data: () => ({
    fields,
    form: {
      name: '',
      second: '',
      address: '',
      phone: ''
    }
  }),
  components: {
    Input,
    TextArea
  },
  methods: {
    onChange({ key, value }) {
      this.form[key] = value
    }
  },
}
</script>