<template>
  <div id="app">
    <Container>
      <div v-if="beersArray.length">
        <vButton :title="buttonTitle" :callFunction="fetchBeers" />
        <h2 >BEERS COUNT: {{beersArray.length}}</h2>
        <ul>
          <li
            v-for="({ name }, key) in beersArray"
            :key="key"
          >
            {{name}}
          </li>
        </ul>
      </div>

      <div v-else>
        Sory Content still loading!
      </div>
    </Container>
  </div>
</template>

<script>
import vButton from './components/Button.vue'
import Container from './components/Container.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'app',
  mounted() {
    setTimeout(() => {
      this.fetchBeers()
    }, 2000)
  },
  data: () => ({
    buttonTitle: 'Click on me'
  }),
  computed: {
    ...mapGetters([
      'beersArray'
    ])
  },
  components: {
    vButton,
    Container
  },
  methods: {
    ...mapActions([
      'fetchBeers'
    ]),
    onClick() {
      console.log('something')
    }
  }
}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
